<%# app/views/products/_form.html.erb %>

<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="notification is-danger">
      <p>この商品データは <%= product.errors.count %> 件のエラーにより保存できませんでした:</p>
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "商品名", class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, "説明", class: "label" %>
    <div class="control">
      <%= form.text_area :description, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :price, "価格", class: "label" %>
    <div class="control">
      <%# number_field を使用し、inputクラスを適用 %>
      <%= form.number_field :price, class: "input", step: "0.01" %>
    </div>
  </div>

<div class="field">
    <%= form.label :image_url, "画像ファイル名 (例: cat_food.jpg)", class: "label" %>
    <div class="control">
      <%# データベースの image_url カラムに値を保存する入力欄 %>
      <%= form.text_field :image_url, class: "input", placeholder: "app/assets/images/ に置いたファイル名を入力" %>
    </div>
    <p class="help">app/assets/images/ フォルダに置いたファイル名を入力してください。</p>
  </div>
  
  <div class="field is-grouped is-grouped-centered mt-5">
    <div class="control">
      <%= form.submit "保存する", class: "button is-primary is-large" %>
    </div>
  </div>
<% end %>