<!DOCTYPE html>
<html>
<head>
  <title>Cat Goods Store</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">

  <%= javascript_importmap_tags %>
</head>

<body>
  <%# フラッシュメッセージ表示用 (Bulmaのスタイル) %>
  <% if flash[:notice] %>
    <div class="notification is-success is-light has-text-centered">
      <button class="delete"></button>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="notification is-danger is-light has-text-centered">
      <button class="delete"></button>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <%= yield %>
</body>
</html>